/*img{
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 5px solid orange;
    background-color: aqua;
}*/
.box1{
    width: 250px;
    height: 250px;
    border: 3px solid gold; 
    padding: 20px;
    margin: 20px;
    border-radius: 20px; 
    box-shadow: 3px 3px 5px red;  
    background-color: yellow;
    background-image: url(../img/a2.png);
    background-size: 100% 100%;
}
body{
   background-color: red;
   background-image: url(../img/a2.png); width: 200px height: 200px;
}