h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    color: red;
    font-variant: small-caps;
    font-style: italic;
    font-weight: 2000;
    text-align: center;
    text-shadow: 5px 7px 6px red;
}
