.form-control{
    margin: 10px 5px;
    padding: 5px;
    border: none;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 3px blue;
    color: orangered;
    display: block;
    outline: none;
    
}
.form-control:focus{
    box-shadow: 0 0 3px orangered;
    
}
*{
    border-radius: 5px;
    margin: 5px 5px;
}
